#emailInvasion {
  position: absolute;
  left: 0;
  right: 0;
  top: -1000px;
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 250px;
  z-index: 1000;
  font-family: arial, sans-serif;
}
#emailInvasion .envelope {
  z-index: 1000;
  width: 300px;
  height: 150px;
  background: transparent url('envelope.png') no-repeat center top;
}
#emailInvasion .envelopeCover {
  z-index: 1001;
  width: 300px;
  height: 97px;
  position: absolute;
  top: 0;
  background: transparent url('lid.png') no-repeat center top;
  transform-origin: center top;
  -ms-transform-origin: center top;
  -webkit-transform-origin: center top;
}
#emailInvasion .paperForm {
  z-index: 1002;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  height: 0;
  font-size: 14px;
  width: 270px;
  visibility: hidden;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  background: url('paperbg.png');
}
#emailInvasion .paperForm p {
  margin-bottom: 0;
}
#emailInvasion .paperForm p.second {
  padding-top: 2px;
}
#emailInvasion .paperForm p.third {
  padding-top: 5px;
}
#emailInvasion .paperForm span {
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
  font-size: 16px;
  padding-top: 5px;
}
#emailInvasion .paperForm form {
  position: relative;
  width: auto;
  margin: 15px auto 0 auto;
}
#emailInvasion .paperForm form input {
  display: block;
  width: 100%;
}
#emailInvasion .paperForm form input[type=email] {
  height: 40px;
  margin-top: -2px;
  margin-bottom: 10px;
}
#emailInvasion .paperForm form input[type=submit] {
  width: 100%;
  background: #000;
  text-transform: uppercase;
  color: #fff;
  outline: 0;
  font-size: 14px;
  height: 40px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#emailInvasion .paperForm .closeEnvelope {
  visibility: hidden;
  font-size: 16px;
  position: absolute;
  top: -12px;
  right: -11px;
  width: 30px;
  height: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
